{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}

    <form action="/{{action}}" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" value="{{symbol}}" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="1" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">{{title}}</button>
    </form>


{% endblock %}