{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>

            {% for rows in allStocks %}
            <tr>
                   {% for item in rows %}
                    <td>{{item}}</td>
                   {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>


{% endblock %}