{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>

            {% for rows in allStocks %}
            <tr>
            {% set count = namespace(value=0) %}
                   {% for item in rows %}
                      {% set count.value = count.value + 1 %}
                      {% if count.value == 6 %}
                         <td>{{ moment(item).format('LLL') }}</td>
                      {% else %}
                         <td>{{item}}</td>
                      {% endif %}
                   {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>


{% endblock %}

