{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}

    <div class="container-fluid pt-3">
      <div class="row">

        <div class="col-sm-6">

    <form action="" method="post" novalidate>

        {{ form.hidden_tag() }}
<table>



  <tr>
            <td style="padding-right:10px">{{ form.username.label }}</td>
               <td class="form-group">
                 {{ form.username(size="32", autofocus=true, placeholder="Email Address", class="form-control form-control-sm") }}
                 {% for error in form.username.errors %}
                    <div style="color: red;">[{{ error }}]</div>
                 {% endfor %}
               </td>
  </tr>



  <tr>
               <td style="padding-right:10px">{{ form.mobile.label }}</td>
               <td class="form-group">
                   {{ form.mobile(size="32", autofocus=true, placeholder="Mobile Phone Number", class="form-control form-control-sm") }}
                   {% for error in form.mobile.errors %}
                   <div style="color: red;">[{{ error }}]</div>
                   {% endfor %}
               </td>
  </tr>




<tr>
               <td style="padding-right:10px">{{ form.password.label }}</td>

                   <td class="form-group">
                       {{ form.password(size="32", placeholder="Password", class="form-control form-control-sm") }}
                       {% for error in form.password.errors %}
                       <div style="color: red;">[{{ error }}]</div>
                       {% endfor %}
                   </td>
  </tr>

  <tr>
               <td style="padding-right:10px">{{ form.confirm.label }}</td>

                   <td class="form-group">
                       {{ form.confirm(size="32", placeholder="Confirm Password", class="form-control form-control-sm") }}
                       {% for error in form.confirm.errors %}
                       <div style="color: red;">[{{ error }}]</div>
                       {% endfor %}
                   </td>
  </tr>



  <tr>
        <td>{{ form.submit(class="myButton") }}</td>
  </tr>

</table>

    </form>

        </div>

      <div class="col-sm-6" style="text-align:left">
         <H6>Password</H6>
         <ul>
<li><small>Must be a minimum of 8 characters.</small></li>
<li><small>Must have at least one numeral.</small></li>
<li><small>Must have at least one alphabetic letter.</small></li>
<li><small>Passwords must match.</small></li>
 </ul>
      </div>


      </div>


    </div>


{% endblock %}
